@import "utf-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

header {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

header > img {
    height: 150px;
    display: block;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

nav {
    border: 1px solid black;
    margin: 10px;
}

nav ul {
    text-align: center;
}

nav ul li{
    display: inline-block;
    font-size: 20px;
}

nav.nav-detail {
    border: 1px solid blue;
}

main {
    border: 1px solid black;
    margin: 10px;
}

main section ul {

}

main section h2 {
    /* text-align: center; */
}

main section ul li {
    /* text-align: center; */
    padding: 3px;
}

footer {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

footer ul {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

footer p {
    text-align: center;
}